
/* ----------------------------- */
/* Tif - Tweaks CSS              */
/* ----------------------------- */

img.wp-smiley, img.emoji {
	display: inline;
	border: none;
	box-shadow: none;
	height: 1em;
	width: 1em;
	margin: 0 .07em;
	vertical-align: middle;
	background: none;
	padding: 0;
}
